@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sansita:ital@1&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
}

:root{
    --black:rgb(0, 0, 0);
    --aqua-color:rgb(0, 255, 255);
    --red:red;
    --blue:blue;
    --light-green:rgb(37, 233, 103);
    --green:green;
}

.home-header{
    display: flex;  
    justify-content: space-between;
    margin-top: -1rem;
    background-color: rgb(215, 226, 235);
    width: 100%;
    position:sticky;
    top: 0;
    z-index: 1;    
}

h1{
    font-size: 50px;
}

.left-header{
    display: flex;    
}

#open-UI{
    text-decoration: none;
    color: black;
}

#home-text{
    text-decoration: none;
}

#header-image{
    margin-top: 10px;
    margin-right: 10px;
}

#linkdin-logo{
    height: 55px;
    width: 55px;
    border-radius: 1rem;
}

#github-logo{
    height: 50px;
    border-radius: 1rem;
    margin-left: 10px;
}

#twiter-logo{
    height: 50px;
    width: 45px;
    border-radius: 2rem;
    margin-left:10px ;
}

.contact-logo{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-right: 10px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    line-height: 3rem;
    width: 20%;
    border-right: solid var(--black) 5px;
    position: sticky;
    top:0;
    height: 100vh;
}

ul li{
    list-style: none;
    font-size: 1.5rem;
    margin-right: 2rem;
    line-height: 4rem;
}

.avatar-links{
    text-decoration: none;
    color: var(--black);
    margin-left: 20px;
}

#tu-nav{
    text-decoration: underline;
    color: var(--red);
    font-style: italic;
    font-size: 30px;
}

.main{
    display: flex;
    flex-direction: row;
}

.title{
    font-size: 2rem;
    font-weight: bold;
    color: brown;
    border-bottom:2px solid ;
}

.large-text{
    font-size: 2rem;
}

.medium-text{
    font-size: 1.5rem;
}
.small-text{
    font-size: 1rem;
}

.grey-text{
    color: grey;
}

.text-center{
    text-align: center;
    margin-left: auto;
    margin-right:auto ;
}

.text-utilities{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bottom-nav{
    display: flex;
    justify-content: space-between;
}

#bottom-nav1{
    background-color: var(--aqua-color);
    color: var(--black);
    padding: 9px;
    border-radius: 1rem;
}

#bottom-nav2{
    background-color: var(--aqua-color);
    color: var(--black);
    padding: 9px;
    border-radius: 1rem;
}