@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sansita:ital@1&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
}
.home-header{
    display: flex;  
    justify-content: space-between;
    margin-top: -1rem;
    background-color: rgb(215, 226, 235);
    width: 100%;
    position:sticky;
    top: 0;
    z-index: 1;    
}
h1{
    font-size: 50px;
}
.left-header{
    display: flex;    
}

#open-UI{
    text-decoration: none;
    color: black;
}
#home-text{
    text-decoration: none;
}
#header-image{
    margin-top: 10px;
    margin-right: 10px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    line-height: 5rem;
    width: 20%;
    border-right: solid black 5px;
    position: sticky;
    top:0;
    height: 100vh;
    /* padding-top: 4rem; */
}
#linkdin-logo{
    height: 55px;
    width: 55px;
    border-radius: 1rem;
}
#github-logo{
    height: 50px;
    border-radius: 1rem;
    margin-left: 10px;
}
#twiter-logo{
    height: 50px;
    width: 45px;
    border-radius: 2rem;
    margin-left:10px ;
}
.contact-logo{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-right: 10px;
}
.title{
    font-size: 2rem;
    font-weight: bold;
    color: brown;
}

.avatar-links{
    text-decoration: none;
    color: black;
    margin-left: 20px;
}
ul li{
    list-style: none;
    font-size: 1.5rem;
}
#slider-nav{
    text-decoration: underline;
    color: red;
    font-style: italic;
    font-size: 30px;
}
.main{
    display: flex;
}
.all-slider{
    display: flex;
    flex-direction: column;
}
.slider{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}
.bottom-nav{
    display: flex;
    justify-content: space-between;
}
#bottom-nav1{
    background-color: aqua;
    color: black;
    padding: 9px;
    border-radius: 1rem;
}

#bottom-nav2{
    background-color: aqua;
    color: black;
    padding: 9px;
    border-radius: 1rem;
}
#bottom-nav1:hover{
    background-color: blueviolet;
    color: white;
    font-weight: bold;
}
#bottom-nav2:hover{
    background-color: blueviolet;
    color: white;
    font-weight: bold;
}