
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sansita:ital@1&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
}
.home-header{
    display: flex;  
    justify-content: space-between;
    margin-top: -1rem;
    background-color: rgb(215, 226, 235);
    width: 100%;
    position:sticky;
    top: 0;
    z-index: 1;
    
}
h1{
    font-size: 50px;
}
.left-header{
    display: flex;    
}
#open-UI{
    margin-top:-2rem;
    text-decoration: none;
}
#home-text{
    text-decoration: none;
}
#header-image{
    margin-top: 10px;
    margin-right: 10px;
}
#linkdin-logo{
    height: 55px;
    width: 55px;
    border-radius: 1rem;
}
#github-logo{
    height: 50px;
    border-radius: 1rem;
    margin-left: 10px;
}
#twiter-logo{
    height: 50px;
    width: 45px;
    border-radius: 2rem;
    margin-left:10px ;
}
.contact-logo{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-right: 10px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    line-height: 5rem;
    width: 20%;
    border-right: solid black 5px;
    position: sticky;
    top:0;
    height: 100vh;
}
.avatar-links{
    text-decoration: none;
    color: black;
    margin-left: 20px;
}
ul li{
    list-style: none;
    font-size: 1.5rem;
    line-height: 4rem;
}
.title{
    font-size: 2rem;
    font-weight: bold;
    color: brown;
    border-bottom:2px solid ;
}
#avtar-nav{
    text-decoration: underline;
    color: red;
    font-style: italic;
    font-size: 30px;
}
.main{
    display: flex;
}
.avtar-rightside{
    margin-left: 30px;
    width: 100%;
}
.avtar-img-round{
    /* width: 200px; */
    display: flex;
    gap: 1rem;
    padding: 3rem;
}
#round-img1{
    height: 60px;
    border-radius: 50%;
}
#round-img2{
    height: 100px;
    border-radius: 50%;
    margin-top: -15px;
}
#round-img3{
    height: 150px;
    border-radius: 50%;
    margin-top: -30px;
}
.avtar-img-squere{
    margin-top: 2rem;
    padding: 3rem;
}
#squere-img1{
    height: 60px;
    border-radius: 20%;
}
#squere-img2{
    height: 100px;
    border-radius: 20%;
    /* margin-top: -15px; */
}
#squere-img3{
    height: 150px;
    border-radius: 20%;
    margin-top: -15px;
}
.avtar-text-round{
    display: flex;
    gap: 1rem;
    padding: 3rem;
}
#avtar-text-round1{
    background-color: aqua;
    padding: 2rem;
    width: 33px;
    height: 33px;
    border-radius: 50%;
}
#avtar-text-round2{
    background-color: aqua;
    padding: 3rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: -10px;
    font-size:30px ;
}
#avtar-text-round3{
    background-color: aqua;
    padding: 4rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: -25px;
    font-size: 40px;
}
.avtar-text-squere{
    display: flex;
    gap: 1rem;
    padding: 3rem;
}
#avtar-text-squere1{
    background-color: aqua;
    padding: 2rem;
    width: 33px;
    height: 33px;
    border-radius: 20%;
}
#avtar-text-squere2{
    background-color: aqua;
    padding: 3rem;
    width: 50px;
    height: 50px;
    border-radius: 20%;
    margin-top: -10px;
    font-size: 30px;
}
#avtar-text-squere3{
    background-color: aqua;
    padding: 4rem;
    width: 60px;
    height: 60px;
    border-radius: 20%;
    margin-top: -25px;
    font-size: 40px;
}
.bottom-nav{
    display: flex;
    justify-content: space-between;
}
#bottom-nav1{
    background-color: aqua;
    color: black;
    padding: 9px;
    border-radius: 1rem;
}

#bottom-nav2{
    background-color: aqua;
    color: black;
    padding: 9px;
    border-radius: 1rem;
}
#bottom-nav1:hover{
    background-color: purple;
    color: white;
    font-weight: bold;
}
#bottom-nav2:hover{
    background-color: purple;
    color: white;
    font-weight: bold;
}
